@model CTQM_MEC.Models.ProfileModelView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="~/css/hoso.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/css/scojs.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="profile row">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        <img src="~/images/profile/user.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @Model.TenKhachHang
                            @if (ViewData["BProfileMessage"] != null)
                            {
                                <br />
                                <label style="color: red;">@ViewData["BProfileMessage"]</label>
                                <br />
                            }
                            @if (ViewData["GProfileMessage"] != null)
                            {
                                <br />
                                <label style="color: green;">@ViewData["GProfileMessage"]</label>
                                <br />
                            }
                            @if (ViewData["BPassMessage"] != null)
                            {
                                <br />
                                <label style="color: red;">@ViewData["BPassMessage"]</label>
                                <br />
                            }
                            @if (ViewData["GPassMessage"] != null)
                            {
                                <br />
                                <label style="color: green;">@ViewData["GPassMessage"]</label>
                                <br />
                            }
                        </div>    
                    </div>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#editProfile">
                                <i class="glyphicon glyphicon-user"></i>
                                Edit Profile </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#payment">
                                <i class="glyphicon glyphicon-credit-card"></i>
                                Payment </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#changePassword">
                                <i class="glyphicon glyphicon-lock"></i>
                                Change Password </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                   
                    <div class="portlet light bordered">
                        <div>
                            <h4 class="profile-desc-title">ABOUT ME</h4>
                            <span class="profile-desc-text"> May the Force be with you. </span>                            
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-twitter"></i>
                                <a href="https://www.twitter.com/">CTQM</a>
                            </div>
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-facebook"></i>
                                <a href="https://www.facebook.com/">CauTroiQuaMon</a>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">
                    <div class="right_inner">
                        @foreach(var item in Model.ListXe)
                        {
                            <div class="history" >
                                <div class="history_ShopImageBox">
                                  <img class="history_ShopImage" src="~/images/Car/@item.TenXe/1.png" alt="CTQM Shop">
                                </div>
                                <div class="history_ShopTextWithButton history_TextWithButton">
                                  <div class="history_ShopText">
                                    <p>@item.TenXe<span><a class="view_btn" asp-controller="Xes" asp-action="Shopping" asp-route-id="@item.MaXe" >View</a></span></p>
                                  </div>
                                </div>
                            </div>    
                        }
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Modal edit profile-->
    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong><center>PERSONAL INFORMATION</center></strong></h4>
                </div>
                <div class="modal-body">                    
                    <div class="row justify-content-center">                        
                            <form asp-action="EditProfile" method="post">
                                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 edit_information">                                
                                    <div class="row">
                                        <div class="text-center">
                                            <div class="avatar-upload">
                                                <div class="avatar-edit">
                                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                                    <label for="imageUpload"></label>
                                                </div>
                                                <div class="avatar-preview">
                                                <div id="imagePreview" style="background-image: url('~/images/profile/user2.jpg');">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                                    
                                            <div class="form-group">
                                                <label class="profile_details_text">Your new Name:</label>
                                                <input asp-for="newName" type="text" name="first_name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="profile_details_text">Mobile Number:</label>
                                                <input asp-for="newPhone" type="tel" name="phone" class="form-control" value="" pattern=[0-9]{10}>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="profile_details_text">Date Of Birth:</label>
                                                <input asp-for="newBirthDay" type="date" name="birthday" class="form-control" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="profile_details_text">Driver License:</label>
                                                <select asp-for="newBangLai" name="driver" class="form-control" value="">
                                                    <option value="A1">A1</option>
                                                    <option value="A2">A2</option>
                                                    <option value="A3">A3</option>
                                                    <option value="A4">A4</option>
                                                    <option value="B2">B2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="profile_details_text">Address:</label>
                                                <input asp-for="newAddress" type="text" name="address" class="form-control" value="">
                                            </div>
                                        </div>
                                    </div>                              
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
                                            <div class="text-center">
                                                <input type="text" asp-for="MaKhachHang" value="@Model.MaKhachHang" style="display: none">
                                                <!--  -->
                                                <button type="submit" class="btn btn-primary" value="save">Save</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>                              
                </div>
            </div>
        </div>
    </div>
    <!-- Modal payment-->
    <div class="modal fade" id="payment" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong><center>SELECT PAYMENT</center></strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                            <form action="{{url('/updateCash')}}" method="post">
                                <!-- csrf -->
                                <div class="col-md-12 col-sm-12 p-10" id="payment_gateways">                                    
                                    <div class="tp-payment-method">
                                        <div class="row paypal_button" style="display: block;">
                                            <label class="tp-payment-alt">
                                                <!-- {{url('profile')}}/img/paypal.png -->
                                                <input type="radio" name="payment_method" id="paypal" value="paypal" disabled>
                                            <label for="paypal"><img src="~/images/profile/paypal.png" alt="Tutorialspoint"></label>
                                                <p>Add <b>PayPal</b> .</p>
                                            </label>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="row">
                                            <label class="tp-payment-alt">
                                                <input type="radio" name="payment_method" id="razorpay" value="razorpay" disabled> 
                                               <span>
                                                <!-- {{url('profile')}}/img/all-credit-card.png -->
                                                <img src="~/images/profile/all-credit-card.png" alt="MasterCard" class="checkout-img">
                                                </span>
                                               <p>Add <b>Credit</b> / <b>Debit Card</b> / <b>Net Banking</b> / <b>UPI</b>/ Others </p>
                                            </label>											
                                        </div>
                                        <div class="clear"></div>                                                                
                                        </div>
                                    </div>
                                <div class="col-md-12 col-sm-12 summary-checkout">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Checkout</button>
                                        <!-- <button type="button" class="btn btn-checkout" value="cancelPayment">Cancel</button> -->
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>                        
                    </div>                                
                </div>
            </div>
        </div>
    </div>
    <!-- Modal change password-->
    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong><center>CHANGE PASSWORD</center></strong></h4>
                </div>
                <div class="modal-body">                    
                    <div class="row justify-content-center">                        
                            <form asp-action="EditPass" asp-route-id="@Model.MaKhachHang" method="post">
                                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 edit_information">                                 
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="profile_details_text">Enter old password:</label>
                                            <input asp-for="oldPass" type="password" name="oldPassword" class="form-control" value="" required id="oldPassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="profile_details_text">Enter new password:</label>
                                            <input asp-for="newPass" type="password" class="form-control" value="" required id="password1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
                                        <div class="text-center">
                                            <!--  -->
                                            <button type="submit" class="btn btn-primary" value="save">Save</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </form>
                         
                    </div>                              
                </div>
            </div>
        </div>
    </div>
    <script>
        //upload avatar
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function() {
            readURL(this);
        });
        //prevent modal closure by clicking outside & press esc
        $('#editProfile').modal({
            backdrop: 'static', 
            keyboard: false
        });
        $('#payment').modal({
            backdrop: 'static', 
            keyboard: false
        });
        $('#changePassword').modal({
            backdrop: 'static', 
            keyboard: false
        })
        //prevent modals from automatically loading   
        $(document).ready(function() {
            $('#editProfile').modal('hide');
            $('#payment').modal('hide');
            $('#changePassword').modal('hide');
        });
        //password validation
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });

// function to validate first password
        $.validator.addMethod("pwcheck", function(value) {
        return /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!#\$%\^&\*])(?=.{8,})/.test(value)
        });

        $( "#changePassword" ).validate({
            rules: {
                password1:{
                required:true,
                minlength:8,
                pwcheck:true
                },
                password2:{
                minlength:8,
                equalTo :'#password1'
                }
            }
        });
        $('.modal-backdrop').remove();
    </script>
</body>
</html>
