@using System.Security.Claims
@model CTQM_MEC.Models.CartModelView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Carrt</title>
    <link rel="stylesheet" type="text/css" href="cart.css">
    <link href="~/css/giohang.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <div id="cart" class="cart-page commerce-apple-pay-data" data-environment="prod" data-enable-edit-size-in-cart="false">
            <div class="cart__container tds-content_container" style="margin-top:50px; height:500px;">
                <div class="cart__header ">
                    <h1>Cart</h1>
                </div>
                <div class="tds-flex tds-flex-gutters line-item-and-order">
                    <div class="tds-flex-item">
                        <div class="lineitems__container">
                            @foreach (var item in Model.ListXe)
                            {
                            <div class="lineitem__container tds-flex tds-flex-gutters">
                                <div class="lineitem__main-info">
                                    <div class="lineitem__image tds-flex-item">
                                        <img src="~/images/Car/@item.TenXe/2.png" alt="Model S All-Weather Interior Liners">
                                    </div>
                                    @if (ViewData["ResultBadMessage"] != null)
                                        {
                                            <br />
                                            <label style="color: red;">@ViewData["ResultBadMessage"]</label>
                                            <br />
                                        }
                                        @if (ViewData["ResultGoodMessage"] != null)
                                        {
                                            <br />
                                            <label style="color: green;">@ViewData["ResultGoodMessage"]</label>
                                            <br />
                                        }
                                    <div class="lineitem__data tds-flex-item">
                                            <p class="lineitem__name tds-text--500" id="0-1669541-00-A">@item.TenXe</p>
                                            <p class="lineitem__option-display-name">@item.HangXe</p>
                                            <div class="lineitem__qty">
                                                <div class="lineitem__editable-item">
                                                    <span>Quantity: </span>
                                                    <div class="lineitem__dropdown">
                                                        <div class="tds-tooltip-wrapper tds-tooltip-wrapper--inline" aria-label="Quantity: " aria-describedby="0-1669541-00-A">
                                                            <button style="border: none;" aria-haspopup="listbox" class="tds-dropdown-trigger" type="button">
                                                                <div class="custom-select" style="width:50px;">
                                                                    <select>
                                                                    <option value="1">1</option>
                                                                    </select>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button style="border: none; border-bottom: 1px solid" class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('RemoveModal').style.display='block'">Remove</button>
                                        <!-- phan trong remove -->
                                        <div id="RemoveModal" class="modal js-modal" style="display: none;">
                                            <div class="modal-container js-modal-container">
                                                <header class="modal-header">
                                                    <span onclick="document.getElementById('RemoveModal').style.display='none'" class="button-close">×</span>
                                                </header>
                                                <form asp-action="Delete" asp-route-id=@item.MaXe class="modal-body">
                                                <input type="number" asp-for="MaKhachHang" value=@Model.MaKhachHang style="display: none">
                                                    <div class="tds-modal-header">
                                                        <h2 style="margin: 0;">Remove Item</h2>
                                                    </div>
                                                    <section class="modal-label">
                                                        <div>
                                                            <p>Are you sure you want to remove this item from your cart?</p>
                                                        </div>
                                                    </section>
                                                    <footer class="tds-modal-footer">
                                                        <button id="Remove" aria-describedby="0-1669541-00-A">Yes, Remove</button>
                                                    </footer>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="tds-modal-backdrop"></div>
                                    </div>
                                    <div class="lineitem__price tds-flex-item tds-flex--col_1of4">
                                        <p class="tds-text--500" translate="no">@item.GiaThanh VNĐ</p>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="tds-flex-item">
                        <div class="order-summary__container">
                            <div class="order-summary__title">
                                <h2 class="tds-text--h4">Order Summary</h2>
                            </div>
                            <div class="order-summary__info info">
                                <div class="tds-tooltip-wrapper tds-tooltip-wrapper--inline">
                                    <div>
                                        <span>Shipping</span>
                                    </div>
                                    <div class="tds-tooltip tds-tooltip--closed" role="tooltip">
                                        <p>FedEx Economy</p>
                                    </div>
                                </div>
                                <span>Free</span>
                            </div>
                            <div class="order-summary__info info">
                                <div class="tds-tooltip-wrapper tds-tooltip-wrapper--inline">
                                    <div>
                                        <span>Sales Tax</span>

                                    </div>
                                    <div class="tds-tooltip tds-tooltip--closed" role="tooltip">
                                        <p>Sale tax is calculated with shipping address in checkout</p>
                                    </div>
                                </div>
                                <span>Calculated at checkout</span>
                            </div>
                            <div class="price-summary-container">
                                <div class="order-summary__info total">
                                    <h2 class="tds-text--h4">Subtotal</h2>
                                    <h2 class="tds-text--h4" translate="no">@Model.TongTien VNĐ</h2>
                                </div>
                            </div>
                            <div class="order-summary__info checkout-button">
                                <div class="tds-btn_group tds-btn_group--vertical order-summary__info checkout">
                                    <button class="tds-btn tds-btn--primary" onclick="location.href='@Url.Action("ThanhToan", "HoaDons", new {id = Int32.Parse(@Context.User.FindFirst(ClaimTypes.SerialNumber).Value)})'" >Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>


            // When the user clicks anywhere outside of the modal, close it
            var modal = document.getElementById('RemoveModal');
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "block";
                }
            }

        </script>

</body>
</html>