@using System.Security.Claims;
@model CTQM_MEC.Models.ShopModelView

@{
    ViewData["Title"] = "Mercedes-Benz";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&display=swap">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/tiny-slider.css">
    <link href="~/css/shopping.css" rel="stylesheet" />
</head>
<body>
    <div class="pd-wrap">
        <div class="container">
            <div class="heading-section">
                <h2>Product Details</h2>
            </div>
            <div class="row">
                @if (Model != null && Model.XeDetails != null)
                {
                <div class="col-md-6">
                    <div id="slider" class="owl-carousel product-slider">
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/1.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/2.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/3.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/4.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/5.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/6.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/7.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/8.png" />
                        </div>
                    </div>
                    <div id="thumb" class="owl-carousel product-thumb">
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/1.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/2.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/3.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/4.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/5.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/6.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/7.png" />
                        </div>
                        <div class="item">
                            <img src="~/images/car/@Model.XeDetails.TenXe/8.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form asp-action="AddToCart" asp-controller="GiaoDiches" class="product-dtl">
                        <div class="product-info">
                            <div class="product-name"><b>@Model.XeDetails.TenXe</b></div>
                            <div class="product-price-discount"><span>@Model.XeDetails.GiaThanh VND</span><span class="line-through"></span></div>
                        </div>
                        <p>
                            @Model.XeDetails.MoTa
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="color"><b>Color</b></label>
                                <select id="color" name="color" class="form-control">
                                    <option>Blue</option>
                                    <option>Green</option>
                                    <option>Red</option>
                                </select>
                            </div>
                        </div>
                        <div class="product-count">
                            <label for="size">Quantity</label>
                            <div class="display-flex">
                                <!--<div class="qtyminus">-</div>
                                    <input type="text" asp-for="SoLuongMua" name="quantity" value="1" class="qty">
                                    <div class="qtyplus">+</div>-->
                                </div>
                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    <input type="number" asp-for="MaKhachHang" value=@Context.User.FindFirst(ClaimTypes.SerialNumber).Value style="display: none">
                                    <input type="number" asp-for="GiaThanh" value=@Model.XeDetails.GiaThanh style="display: none">
                                    <input type="number" asp-for="MaXe" value=@Model.XeDetails.MaXe style="display: none">
                                }
                                <button type="submit" class="round-black-btn">Add to Cart</button>
                        </div>
                    </form>
                </div>
                }
            </div>
            <div class="product-info-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <p>
                            <b>@Model.XeDetails.Head1</b><br>
                            @Model.XeDetails.MoTa2
                        </p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle-details animated-icon icon-plus"></button>
            </div>
            <!-- Product details -->
            @if (Model != null && Model.MoreInfo != null && Model.XeDetails != null)
            {
                <div class="drawer-body">
                    <div class="exterior">
                        <h1 class="Title">More Infomation</h1>
                        <h2 class="hd2">@Model.MoreInfo.Head1</h2>
                        <div class="exterior-content">
                            <img class="face-car" src="~/images/car/@Model.XeDetails.TenXe/6.png" alt="More Infomation 1"/>
                            <p class="content">@Model.MoreInfo.Title1</p>
                        </div>
             
                        <h2 class="hd2">@Model.MoreInfo.Head2</h2>
                        <div class="exterior-content">
                            <p class="content">@Model.MoreInfo.Title2</p>
                            <img class="face-car" src="~/images/car/@Model.XeDetails.TenXe/7.png" alt="More Infomation 2"/>
                        </div>
            
                        <h2 class="hd2">@Model.MoreInfo.Head3</h2>
                        <div class="exterior-content">
                            <img class="face-car" src="~/images/car/@Model.XeDetails.TenXe/8.png" alt="More Infomation 3">
                            <p class="content">@Model.MoreInfo.Title3</p>
                        </div>
                    </div>
                </div>
            }
            <!-- Related Product -->
            <div class="heading-section">
                <h2>Related Product</h2>
            </div>
            <!-- Slider -->
            <div class="c-product-tray__carousel">

                <div class="o-slider-product-tray">

                    <div class="o-slider-product-tray__controls js-controls">

                        <button class="o-slider-product-tray__button o-slider-product-tray__button--prev">
                            <svg class="o-slider-product-tray__arrow o-slider-product-tray__arrow--prev"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="-44 40.7 11 21.1">
                                <path d="M-33.5 61.8L-44 51.3l10.5-10.6.5.5-10.1 10.1 10.1 10z" />
                            </svg><!-- /o-slider-product-tray__arrow -->
                        </button><!-- /o-slider-product-tray__button -->

                        <button class="o-slider-product-tray__button o-slider-product-tray__button--next">
                            <svg class="o-slider-product-tray__arrow o-slider-product-tray__arrow--next"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="-44 40.7 11 21.1">
                                <path d="M-33.5 61.8L-44 51.3l10.5-10.6.5.5-10.1 10.1 10.1 10z" />
                            </svg><!-- /o-slider-product-tray__arrow -->
                        </button><!-- /o-slider-product-tray__button -->

                    </div><!-- /o-slider-product-tray__controls -->


                    <ul class="o-slider-product-tray__inner js-slider-product-tray">
                        @if (Model != null && Model.ListXe != null && Model.XeDetails != null) foreach (var item in Model.ListXe) {
                            if (item.MaXe != Model.XeDetails.MaXe && item.HangXe == Model.XeDetails.HangXe)
                            {
                             <li class="o-slider-product-tray__slide">
                                <div class="c-product-tile">
                                    @if (item.SoLuong <= 0)
                                    {
                                        <span class="c-product-tile__promo">Sold out</span>
                                    }
                                    <a asp-action="Shopping" asp-route-id="@item.MaXe" class="car-item__images-link" title="car1">
                                        <img class="c-product-tile__image" src="~/images/car/@item.TenXe/8.png">
                                    </a>
                                    <h3 class="c-product-tile__name">@item.TenXe</h3>
                                    <span class="c-product-tile__price">@item.GiaThanh VND</span>
                                </div><!-- /c-product-tile -->
                            </li><!-- /o-slider-product-tray__slide -->
                            }
                        }
                    </ul><!-- /o-slider-product-tray__inner -->

                </div><!-- /o-slider-product-tray -->

            </div><!-- /c-product-tray__carousel -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var slider = $("#slider");
            var thumb = $("#thumb");
            var slidesPerPage = 4; //globaly define number of elements per page
            var syncedSecondary = true;
            slider.owlCarousel({
                items: 1,
                slideSpeed: 2000,
                nav: false,
                autoplay: false,
                dots: false,
                loop: true,
                responsiveRefreshRate: 200
            }).on('changed.owl.carousel', syncPosition);
            thumb
                .on('initialized.owl.carousel', function () {
                    thumb.find(".owl-item").eq(0).addClass("current");
                })
                .owlCarousel({
                    items: slidesPerPage,
                    dots: false,
                    nav: true,
                    item: 4,
                    smartSpeed: 200,
                    slideSpeed: 500,
                    slideBy: slidesPerPage,
                    navText: ['<svg width="18px" height="18px" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="25px" height="25px" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
                    responsiveRefreshRate: 100
                }).on('changed.owl.carousel', syncPosition2);
            function syncPosition(el) {
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - (el.item.count / 2) - .5);
                if (current < 0) {
                    current = count;
                }
                if (current > count) {
                    current = 0;
                }
                thumb
                    .find(".owl-item")
                    .removeClass("current")
                    .eq(current)
                    .addClass("current");
                var onscreen = thumb.find('.owl-item.active').length - 1;
                var start = thumb.find('.owl-item.active').first().index();
                var end = thumb.find('.owl-item.active').last().index();
                if (current > end) {
                    thumb.data('owl.carousel').to(current, 100, true);
                }
                if (current < start) {
                    thumb.data('owl.carousel').to(current - onscreen, 100, true);
                }
            }
            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    slider.data('owl.carousel').to(number, 100, true);
                }
            }
            thumb.on("click", ".owl-item", function (e) {
                e.preventDefault();
                var number = $(this).index();
                slider.data('owl.carousel').to(number, 300, true);
            });


            $(".qtyminus").on("click", function () {
                var now = $(".qty").val();
                if ($.isNumeric(now)) {
                    if (parseInt(now) - 1 > 0) { now--; }
                    $(".qty").val(now);
                }
            })
            $(".qtyplus").on("click", function () {
                var now = $(".qty").val();
                if ($.isNumeric(now)) {
                    if (parseInt(now) + 1 > @Model.SoLuongTT) { now--; }
                    $(".qty").val(parseInt(now) + 1);
                }
            });
        });

        // Item slider
        var slider = tns({
            arrowKeys: true,
            autoplay: false,
            container: ".js-slider-product-tray",
            controls: true,
            controlsContainer: ".js-controls",
            gutter: 24,
            items: 1.2,
            loop: false,
            mouseDrag: true,
            nav: false,
            responsive: {
                360: {
                    items: 2.4,
                },
                600: {
                    items: 3.6
                },
                900: {
                    items: 6
                },
            },
            slideBy: "page",
            touch: true
        });

        const detailsBtn = document.querySelector(".toggle-details");
        if (detailsBtn) {
            const detailsBody = document.querySelector(".drawer-body");
            const toogleDetail = () => {
                detailsBody.classList.toggle("active");
                detailsBtn.classList.toggle("active");
            }
            detailsBtn.addEventListener("click", toogleDetail);
        }
    </script>
</body>
</html>